body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.login-container {
    background-color: white;
    border: 2px solid #4c8baf;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #4ca3af;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #4ca3af;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #4595a0;
}
.forgot-password {
    text-align: center;
    margin-top: 10px;
}
.forgot-password a {
    color: #4c93af;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    background-color: #4c90af;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #457fa0;
}
.back-to-login {
    text-align: center;
    margin-top: 10px;
}
.back-to-login a {
    color: #4c90af;
    text-decoration: none;
}
.back-to-login a:hover {
    text-decoration: underline;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.recovery-container {
    background-color: white;
    border: 2px solid #4c93af;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #4cacaf;
}

.imagen-logo {
    width: 380px;
    height: 300px;
    margin: 20px auto;
    display: block;
    border-radius: 8px;
}